:root {
  --bg-dark: hsl(240 9% 13%);
  --shadow: hsl(240 9% 5%);
  --text: hsl(240 10% 94%);
  --titles: hsl(240 10% 100%);
  --bg-light: hsl(240 9% 26%);
  --text-muted: hsl(240 10% 80%);
  --primary: hsl(224 38% 55%);
  --secondary: hsl(224 38% 70%);
  --danger: hsl(0 75% 60%);
  --warning: hsl(23 100% 63%);
  --success: hsl(98 42% 42%);
}

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-dark);
}

h1, h2, h3, h4 {
  color: var(--titles);
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 18px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
  margin: 10px 0px;
  color: var(--text);
}

em {
  font-style: italic;
}

br {
  margin: 2em;
}

ol {
  list-style-position: inside;
}

li {
  padding: 1rem 0px;
}

a {
  color: var(--text);
}

.viewport {
  display: flex;
  flex-direction: column;
}

.fade {
  color: var(--text-muted);
  margin-bottom: 1rem;
}

#header {
  color: var(--titles);
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px 64px;
  box-shadow: 0px 8px 12px black;
  margin-bottom: 64px;
  position: sticky;
  top: 0;
  z-index: 5;
}

#header a {
  text-decoration: none;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 24px;
  color: var(--text-muted);
  font-size: 20px;
}

.article {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0 16px;
}

#about, #experience, #education, #miscellaneous, #abstract, #introduction, #chapter-one, #chapter-two, #chapter-three, #bibliography, #vita {
  scroll-margin-top: 216px;
}

#about {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  padding-bottom: 30vh;
}

#thesis p, .about-text  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column: 2;
  text-align: justify;
}

.profile {
  display: flex;
  grid-column: 1;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex-basis: 300px;
}

.profile img {
  width: 300px;
  border-radius: 50%;
  border: 2px solid var(--secondary);
  margin: 25px;
  box-shadow: 0px 8px 12px black;
}

#section-title {
  grid-column: 2;
  margin-top: 5rem;
}

#experience {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#education {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-height: 6lh;
  overflow: auto;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--secondary);
  border-radius: 5px;
}

#education .card {
  max-height: none;
}

.sidebar, .footnotes {
  flex-direction: column;
  align-self: start;
  position: sticky;
  top: 11rem;
  margin: 0px auto;
  padding: 1rem;
  background-color: transparent;
  grid-row: 1;
}

.sidebar {
  display: flex;
  grid-column: 3;
}

.footnotes {
  display: flex;
  border: solid 2px var(--secondary);
  border-radius: 10px;
  margin: 1rem;
  grid-column: 1;
  height: 75vh;
  overflow: auto;
}

.footnotes ol {
  font-size: 95%;
}

.notes {
  font-size: 90%;
  text-decoration: underline;
  vertical-align: super;
  color: var(--text-muted);
}

.sidebar a {
  padding: 5px;
  text-decoration: none;
}

.navigation a:hover {
  color: var(--primary);
}

#footer {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
}

.license {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.credit {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.license a,
.icon {
  margin: 1rem;
  height: 2rem;
  width: auto;
}

.contact {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
}

.paper {
  grid-column: 2;
  display: grid;
  padding: 2rem 5rem;
  border: 5px solid var(--primary);
  border-radius: 10px;
  background-color: var(--text);
}

.cv-section {
  display: flex;
  flex-direction: column;
  margin: 1rem 0px;
}

.cv-section p {
  margin: 0.5rem;
}

.cv-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
}

.cv-head, 
.cv-head h2,
.cv-section p,
.cv-section h3 {
  color: var(--bg-dark);
}

#thesis {
  display: flex;
  flex-direction: column;
  grid-column: 2;
}

#thesis h1, #subtitle, #subtitle p {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}

#subtitle p {
  margin: 0px;
}

#thesis h2 {
  margin-top: 2rem;
}

.hanging {
  padding-left: 0.5in;
  text-indent: -0.5in;
  display: flex;
  flex-direction: column;
}

#thesis p, #thesis span {
  display: inline;
}

@media (max-width: 1250px) {

  #header, .article {
    grid-template-columns: 1fr;
  }

  #header {
    position: static;
  }

  #header p {
    display: none;
  }
 
  .paper, .sidebar, .footnotes {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    position: static;
  }

  #thesis, #subtitle, #footer, #header, #about, #experience, #education, #miscellaneous, #section-title {
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  #thesis h1 {
    font-size: 2rem;
  }

  .paper {
    padding: 1rem;
  }

  .sidebar, .footnotes {
    display: none;
    margin: 2rem auto;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 1rem;
  }

  .cv-head {
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  #title {
    position: static;
  }

  .navigation {
    display: flex;
    position: sticky;
    top: 0;
  }
}
