:root {
	/* Colours by Catppuccin */
	--bg-pane: hsl(240 21% 15%); 
	--pane-light: hsl(240 21% 12%);
	--pane-dark: hsl(240 23% 9%);
	--surface-light: hsl(233 12% 39%);
	--surface-medium: hsl(234 13% 31%);
	--surface-dark: hsl(237 16% 23%);
	--overlay-light: hsl(228 17% 64%);
	--overlay-medium: hsl(230 13% 55%);
	--overlay-dark: hsl(231 11% 47%);
	--text: hsl(226 64% 88%);
	--subtext-light: hsl(227 35% 80%);
	--subtext-dark: hsl(228 24% 72%);
	--subtitle: hsl(230 13% 55%);
	--blue: hsl(217 92% 76%);
	--green: hsl(115 54% 76%);
	--yellow: hsl(41 86% 83%);
	--red: hsl(343 81% 75%);
	--primary: hsl(23 92% 75%);
	--secondary: hsl(267 84% 81%);
}

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-pane);
  font-size: 18px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  color: var(--text);
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
	font-size: 32px;
	font-weight: 700;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	color: var(--subtext-dark);
}

h4 {
	font-size: 18px;
	font-weight: 700;
	color: var(--pane-light);
}

a {
	color: var(--blue);
}

em {
  font-style: italic;
}

header {
  z-index: 10;
	background-color: var(--pane-light);
	min-height: 6em;
	box-shadow: 0px 8px 12px var(--pane-dark);
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
	padding: 0 2vw;
	border-bottom: 2px solid var(--primary);
}

#body {
	display: flex;
	flex-direction: column;
	min-height: 95vh;
	margin: 4em 0;
	padding: 0 max(8px, 5%);
}

#body > div + div {
	margin-top: 8rem;
}

.flex-centered {
	display: flex;
	flex-direction: column;
	jusitfy-content: center;
	align-items: center;
}

.flex-centered-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

#navigation {
	gap: clamp(4px, 10vw, 6em);
	font-size: clamp(16px, 2.5vw, 20px);
}

button {
	font-weight: 500;
	padding: 24px 12px;
}

header h1:hover {
	color: var(--primary);
}

#navigation button:hover {
	color: var(--primary);
}

.icon {
	height: 2em;
	width: auto;
	margin: 1em 4px;
}

footer {
	z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
	gap: 1em;
  font-size: 14px;
	min-height: 8em;
	background-color: var(--pane-light);
	box-shadow: 0px -4px 24px var(--pane-dark);
	border-top: 2px solid var(--overlay-light);
}

#license,
#credit,
#contact {
	grid-row: 1;
	justify-content: center;
}

#license {
  grid-column: 1;
}

#credit {
  grid-column: 2;
}

#contact {
  grid-column: 3;
}

#socials {
  display: flex;
	gap: clamp(2px, 2em, 5vw);
}

.hidden {
  display: none;
}

@media (max-width: 800px) {

	header {
		justify-content: center;
	}

	footer {
		grid-template-columns: 1fr;
	}

	#license,
	#credit,
	#contact {
		grid-column: 1;
	}

	#credit {
		grid-row: 1;
	}

	#contact {
		grid-row: 2;
	}

	#license {
		grid-row: 3;
	}
}
